<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="title">商品分类添加</div>
<div class="data-edit clear">
	<form method="post">
	<table>
		<tr><th>分类名称：</th><td><input type="text" name="cname" /></td></tr>
		<tr><th>上级分类：</th><td><select name="pid">
			<option value="0">顶级分类</option>
			<foreach name="category" item="v">
<option 
value="{$v.cid}">{:str_repeat('--',$v['deep']).$v['cname']}</option>
			</foreach>
		</select></td></tr>
		<tr class="tr_btn center">
			<td colspan="2"><input type="submit" value="确定" /><input type="reset" 
value="重置" /></td>
		</tr>
	</form>
</div>

</body>
</html>