<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="title">属性修改页面</div>
<div class="data-edit clear">
	<form method="post">
	<table>
		<tr><td>属性名</td><td>属性默认值</td></tr>
		<tr>
			<td><input type="text" name="aname" value="{$aname}" /></td>
			<td><input type="text" name="a_def_val" value="{$a_def_val}" /></td>
		</tr>
		<tr class="tr_btn center">
			<td colspan="2"><input type="submit" value="确定" />
			<input type="reset" value="重置" /></td>
		</tr>
	</table>
	</form>
</div>

</body>
</html>