<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="title">会员列表</div>
<div class="data-list clear">
	<table border="1">
		<tr><td>会员ID</td><td>会员昵称</td><td>联系电话</td><td>邮箱</td><td>操作</td></tr>
		<foreach name="list" item="v">
		<tr><td>{$v.mid}</td><td>{$v.user}</td><td>{$v.phone}</td>
			<td>{$v.email}</td><td><a href="#">查看详情</a></td></tr>
		</foreach>
	</table>
	<div class="pagelist">{$page}</div>
</div>
<script>
	$("tr:odd").addClass("odd");
</script>
</body>
</html>